#root, #app, .main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    color: #524747; /* Dark grey text color */
    background-color: #f8f8f6; 
    margin: 0;
    padding: 0px;
    display: flex;
    overflow: hidden;
}

h2 {
    color: #524747;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    background-color: #98b99d;
    padding: 15px 20px 2px 20px;
}

.post-its{
    line-height: 12px;
    max-width: 85%;
    height: 100vh;
    margin: auto;
    position: relative;
}

.pin{
   margin-top: -10px;
}

.leftalign{
    text-align: left;
    padding-top: 5px;
}

.title{
    position:absolute;
    top: 10%;
    left: 10%;
}

.images img{
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform .4s;
}

.rome1{
    position: absolute;
    top: 48%;
    left: 33%;
}

.rome2{
    position: absolute;
    top: 9%;
    left: 63%;
}

.title img:hover, .rome1:hover, .rome2:hover{
    transform: scale(1.1);
}

.post-it{
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
    max-width: 30%;
    width: 250px;
    position:absolute;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform .4s;
    font-family: 'Courier', monospace; /* Ensure consistent font family */
    color: #333; /* Text color */
    background-color: #fdf5c4; /* Default background color */
}

.post-it:hover{
    transform: scale(1.1);
}

.one{
    background-color: #fdf5c4;
    top: 46%;
    left: 10%;
}

.two{
    background-color: #ffe5d9;
    top: 10%;
    left: 40%;
}

.list{
    line-height: 25px;
}

.three{
    background-color:#d8e2dc;
    top: 48%;
    left: 65%;
    width: 12%;
}

.four{
    background-color:#fbdade;
    top: 48%;
    left: 80%;
    width: 13%;
}
