body {
  font-family: 'Courier', monospace;
  color: #524747; /* Dark grey text color */
  background-color: #F8F8F6; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 8ch; } /* Adjust the width to match the length of the text */
}

@keyframes blinkTextCursor {
  from { border-right-color: #284a52; }
  to { border-right-color: transparent; }
}

h1 {
  color: #414141;
  font-family: 'Courier', monospace;
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Move from top */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-text {
  font-family: 'Courier', monospace; /* Use the Google Font */
  font-size: 3rem; /* Adjust the font size */
  font-style: oblique;
  color: #719C7A; /* Change the text color */
  text-align: left; /* Align the text to the left */
  margin-bottom: 1rem; /* Add some space below the text */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the overflowing text */
  border-right: 0.15em solid rgba(0, 0, 0, 0.75); /* Cursor effect */
  animation: typewriter 2s steps(10) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; /* Apply the typewriter animation */
}

.login-input {
  width: 70%;
  padding: 0.5rem;
  border: 2px solid #719C7A;
  background-color: #f0f0f0; /* Change the background color */
  color: #524747; /* Dark grey text color */
  border-radius: 15px;
  font-size: 1rem;
  font-family: 'Courier', monospace;
  outline: none;
  transition: border-color 0.3s ease;
}

.login-input:focus {
  border-color: #50685d; /* Change the border color on focus */
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.login-form-container {
  flex: 1;
  max-width: 40%;
}

.login-image-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  font-family: 'Courier', monospace;
  padding: 1.00rem 1.5rem;
  background-color: #719C7A;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #44695e;
}

.forgot-password-button {
  margin-top: 1rem;
  background: none;
  border: none;
  color: #306997;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
  font-family: 'Courier', monospace;
}

.forgot-password-button:hover {
  color: #0056b3;
}

.login-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  animation: fadeInImage 1s ease-in-out; /* Apply the animation */
}

.mb-4 {
  margin-bottom: 1rem; /* Adjust the value as needed */
}