body {
  font-family: 'Lora', serif;
  color: #524747; /* Dark grey text color */
  background-color: #98b99f; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.app {
  text-align: center;
  background: rgba(255, 244, 235, 0.9);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(44, 61, 156, 0.2);
  max-width: 800px;
  width: 90%;
  position: relative;
  z-index: 1;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.tagline {
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.search-form {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 70%;
  padding: 0.75rem;
  border: 2px solid #4f747c;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #284a52;
}

.search-button {
  padding: 1.00rem 1.5rem;
  background-color: #4f747c;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #284a52;
}

.search-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #ff3b2f;
  margin-top: 1rem;
}

.no-results {
  color: #555;
  margin-top: 1rem;
}

.bubbles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure clicks pass through to the form */
}

.bubble {
  position: absolute;
  background: rgba(255, 244, 235, 0.9);
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: float 6s infinite ease-in-out;
  text-align: center;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /* Rounded, organic shape */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Light border for shadow effect */
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2)); /* Shadowed edges */
}

.bubble h4 {
  margin: 0 0 0.5rem 0;
  color: #421f1c;
  font-size: 0.9rem;
}

.bubble p {
  margin: 0.25rem 0;
  color: #c46a6a;
  font-size: 0.8rem;
}

.bubble a {
  color: #378a9c;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

.bubble a:hover {
  text-decoration: underline;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-10px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}